@{
    ViewBag.Title = "Insert Orders Page";
}

@using (Html.BeginForm("Insert", "Shippers", FormMethod.Post))
{
    <h2>CARGAR DISTRIBUIDOR</h2>

    <table class="table table-responsive table-sm">
        <tbody>
            <tr>
                <td><label>NOMBRE DEL DISTRIBUIDOR </label></td>
                <td><input type="text" name="companyName" style="width: 200px;" placeholder="Ingrese nombre del Ditribuidor" required></td>
            </tr>
            <tr>
                <td><label>TELEFONO</label></td>
                <td><input type="text" name="phone" style="width: 200px;" placeholder="Ingrese telefono del Ditribuidor" required></td>
            </tr>
        </tbody>
    </table>

    <input type="submit" class="btn btn-success" value="GUARDAR">
    <a class="btn btn-warning" onclick="location.href='@Url.Action("IndexShippers")'">CANCELAR</a>
}

