<div class="container">

  <mat-card class="mat-elevation-z8">
    <mat-toolbar color="accent"
      style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);">
      <div>
        NORTHWIND ORDERS MANAGER
      </div>
    </mat-toolbar>
    <br><br>
    <mat-card-content>
      <form [formGroup]="orderForm" (ngSubmit)="onFormSubmit()">
        <table>
          <tr>
            <!-- SHIP NAME FIELD -->
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input matInput placeholder="Destinatario (3-40)" matTooltip="Ingrese nombre del Destinatario "
                  formControlName="ShipName" required autocomplete="off">
              </mat-form-field>
            </td>

            <!-- SHIPPED DATE FIELD -->
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input matInput [matDatepicker]="picker" matTooltip="Ingrese fecha de Envio"
                  formControlName="ShippedDate" placeholder="Fecha de Envio" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>

            <!-- SHIPPER FIELD -->
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <mat-label>Shipper</mat-label>
                <mat-select (selectionChange)="FillShippersDDL()" formControlName="ShipVia"
                  matTooltip="Seleccione Distribuidor" required>
                  <mat-option *ngFor="let Shippers of (allShippers | async)" [value]="Shippers.CompanyName">
                    {{Shippers.CompanyName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr>

            <!-- ADDRESS FIELD -->
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="Address" matTooltip="Ingrese direccion de Envio" matInput
                  placeholder="Direccion de Envio (3-60)" required autocomplete="off">
              </mat-form-field>
            </td>

            <!-- CITY FIELD -->
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="City" matTooltip="Ingrese ciudad de Envio" matInput
                  placeholder="Ciudad de Envio (3-15)" required autocomplete="off">
              </mat-form-field>
            </td>

            <!-- COUNTRY FIELD -->
            <td class="tbl1">
              <mat-form-field class="demo-full-width">
                <input formControlName="Country" matTooltip="Ingrese pais de Envio" matInput
                  placeholder="Pais de Envio (3-15)" required autocomplete="off">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <!-- SUBMIT AND RESET BUTTONS -->
              <button type="submit" mat-raised-button color="accent" matTooltip="Submit" [disabled]="orderForm.invalid">
                <mat-icon>done</mat-icon>
              </button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" mat-raised-button color="accent" matTooltip="Reset" (click)="resetForm()">
                <mat-icon>restart_alt</mat-icon>
              </button>
            </td>
          </tr>
        </table>

        <br>

        <mat-card class="mat-elevation-z3">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($any($event).target.value)" placeholder="BUSQUEDA">
          </mat-form-field>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>


          <table mat-table [dataSource]="dataSource" class="table table-hover table-responsive table-sm">

            <!-- ID Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let order"> {{order.Id}} </td>
            </ng-container>

            <!-- Shipped Date Column -->
            <ng-container matColumnDef="ShippedDate">
              <th mat-header-cell *matHeaderCellDef>FECHA DE ENVIO</th>
              <td mat-cell *matCellDef="let order"> {{order.ShippedDate}}</td>
            </ng-container>

            <!-- ShipVia Column -->
            <ng-container matColumnDef="ShipVia">
              <th mat-header-cell *matHeaderCellDef>DISTRIBUIDOR</th>
              <td mat-cell *matCellDef="let order"> {{order.ShipVia}} </td>
            </ng-container>

            <!-- ShipName Column -->
            <ng-container matColumnDef="ShipName">
              <th mat-header-cell *matHeaderCellDef>DESTINATARIO</th>
              <td mat-cell *matCellDef="let order"> {{order.ShipName}} </td>
            </ng-container>

            <!-- Adress Column -->
            <ng-container matColumnDef="Address">
              <th mat-header-cell *matHeaderCellDef>DIRECCION</th>
              <td mat-cell *matCellDef="let order"> {{order.Address}} </td>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="City">
              <th mat-header-cell *matHeaderCellDef>CIUDAD</th>
              <td mat-cell *matCellDef="let order"> {{order.City}} </td>
            </ng-container>

            <!-- Country Column -->
            <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef>PAIS</th>
              <td mat-cell *matCellDef="let order"> {{order.Country}} </td>
            </ng-container>

            <!-- Edit Column Button -->
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>

              <td mat-cell *matCellDef="let order">

                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" type="button"
                  mat-raised-button color="primary" matTooltip="Edit" (click)="EditOrder(order.Id)">
                  <mat-icon>edit</mat-icon>
                </button>

              </td>
            </ng-container>

            <!-- Delete Column Button -->
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
              <td mat-cell *matCellDef="let order"> <button mat-icon-button
                  aria-label="Example icon button with a delete icon" type="button" mat-raised-button color="warn"
                  matTooltip="Delete" (click)="DeleteOrder(order.Id)">
                  <mat-icon>delete_forever</mat-icon>
                </button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
      </form>
    </mat-card-content>
  </mat-card>
</div>