@model List<LabNet2021.TP04.Entities.SimpsonsApiModel>


@{
    ViewBag.Title = "Simpsons Quotes";
}

<link rel="stylesheet" href="~/Scripts/style.css">

<div class="container-fluid">

    <div>
        <h1 class="text-info">
            5 RANDOM SIMPSONS QUOTES
        </h1>
    </div>

    <a class="btn btn-info" onClick="window.location.reload();">REFRESH</a>

    <br />
    <br />
    <br />
    <br />

    <table class="table table-responsive table-sm">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <blockquote class="quote" id="quote">
                        @item.quote
                        <cite>@item.character</cite>
                    </blockquote>
                </td>
                <td>
                    <img class="portrait" src="@item.image">
                </td>
            </tr>
        }
    </table>
</div>